---
toc: true
number-sections: true
highlight-style: breezedark
date: today
pdf-engine: pdflatex
title: Wide Table Issue
format:
  pdf:
    author: 
      - Some Good People 
    documentclass: article
    papersize: a4
    geometry:
      - top=20mm
      - left=20mm
      - right=20mm
      - bottom=20mm
    colorlinks: true
    header-includes:
      - \usepackage{fancyhdr}
      - \usepackage{graphicx}
      - \pagestyle{fancy}
---

# The wide table to pdf issue

In [1]:
import pandas as pd
# Global parameters
GEO_NAME = "Bronx"
SUBSTANCE_NAME = "Ozone (O3)"
AIR_QUALITY_LINK = "https://data.cityofnewyork.us/api/views/c3uy-2p5r/rows.csv?accessType=DOWNLOAD"
# Read data
df = pd.read_csv(AIR_QUALITY_LINK)
df.head(10)

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
0,216498,386,Ozone (O3),Mean,ppb,CD,313,Coney Island (CD13),Summer 2013,06/01/2013,34.64,NaN
1,216499,386,Ozone (O3),Mean,ppb,CD,313,Coney Island (CD13),Summer 2014,06/01/2014,33.22,NaN
2,219969,386,Ozone (O3),Mean,ppb,Borough,1,Bronx,Summer 2013,06/01/2013,31.25,NaN
3,219970,386,Ozone (O3),Mean,ppb,Borough,1,Bronx,Summer 2014,06/01/2014,31.15,NaN
4,164876,383,Sulfur Dioxide (SO2),Mean,ppb,CD,211,Morris Park and Bronxdale (CD11),Winter 2008-09,12/01/2008,5.89,NaN
5,164877,383,Sulfur Dioxide (SO2),Mean,ppb,CD,212,Williamsbridge and Baychester (CD12),Winter 2008-09,12/01/2008,5.75,NaN
6,219971,386,Ozone (O3),Mean,ppb,Borough,2,Brooklyn,Summer 2009,06/01/2009,26.27,NaN
7,219972,386,Ozone (O3),Mean,ppb,Borough,2,Brooklyn,Summer 2010,06/01/2010,33.83,NaN
8,164878,383,Sulfur Dioxide (SO2),Mean,ppb,CD,301,Greenpoint and Williamsburg (CD1),Winter 2008-09,12/01/2008,4.33,NaN
9,164879,383,Sulfur Dioxide (SO2),Mean,ppb,CD,302,Fort Greene and Brooklyn Heights (CD2),Winter 2008-09,12/01/2008,4.41,NaN